:root {
  --golden: gold;
  --white: #f7f7f7;
  --black: #327;
  --red: #CD1028;
  --blue: #073BA5;
}

body {
  background-color: var(--black);
  color: var(--white);
  line-height: 1.5;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

h1 {
  padding: 1em .5em .3em;
  font-size: 3em;
  font-family: 'Do Hyeon', sans-serif;
  line-height: 1;
}

a {
  color: var(--golden);
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0 .5em 1em;
  list-style-type: none;
}

nav ul li {
  padding: .5em;
}

nav ul li a {
  padding: .5em;
  font-size: 1.5em;
  text-decoration: none;
}

nav ul li a:focus,
nav ul li a:hover {
  outline: 3px solid var(--white);
  color: var(--white);
  transition: .3s ease-out;
}

section {
  border: 2px double var(--white);
  margin: 1.5em auto;
}

section:target {
  background-color: var(--golden);
  color: var(--black);
  transition: .8s ease;
}

section h2 {
  border-bottom: 1px solid var(--white);
  padding: .5em;
  letter-spacing: .1em;
}

section p {
  padding: .3em .5em;
}

section p:lang(ru),
section p:lang(es) {
  border: 1px inset var(--black);
  margin: .8em .5em;
  background-color: var(--white);
  font-size: 125%;
  font-style: italic;
}

section p:lang(ru) {
  color: var(--blue);
}

section p:lang(es) {
  color: var(--red);
}

section#three p::first-letter {
  font-size: 250%;
  font-weight: bold;
  -webkit-initial-letter: 2;
  initial-letter: 2;
  letter-spacing: .1em;
}

section a.btn {
  display: block;
  padding: .8em;
  background-color: var(--golden);
  color: var(--black);
  font-size: 125%;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

section a.btn:focus,
section a.btn:hover {
  background-color: var(--red);
  color: var(--white);
  transition: .8s ease-out;
}

footer {
  margin-top: 5em;
  text-align: center;
}

@media (min-width: 50em) {
  body {
    max-width: 40em;
    margin: .5em auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li a {
    outline: 3px solid var(--golden);
  }

  section ul {
    column-count: 2;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

/*.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
